@import url("reset.css");

body{
	font-family:Arial, Helvetica, "微軟正黑體", sans-serif;	
}

#HEADER{
	width:880px;
	height:220px;
	margin:0 auto;	
}

#HEADER img{
	float:left;
}

#HEADER #BOX{
	float:right;
	width:580px;
	height:190px;
	padding:30px 30px 0 30px;
	background-image:url(right.jpg);
}

#HEADER #BOX h2{
	font-size:20px;
	padding-bottom:15px;
}

#HEADER #BOX p{
	font-size:13px;
	line-height:1.6;
	padding-bottom:15px;
}