ul {
	list-style:none;
	margin:0;
	padding:0;
	
	display:block;
	width:660px;
	height:110px;
	background-image:url(banner.jpg);
	margin:0 auto;
	
	padding-top:10px;
	padding-left:240px;
}
li {
	float:left;
}

li a {
	display:block;
	width:126px;
	height:100px;
	text-indent:-9999px;
}
li a:hover {
	background-position:left bottom;
}

li.PS a {background-image:url(btn01.jpg);}
li.DW a {background-image:url(btn02.jpg);}
li.FL a {background-image:url(btn03.jpg);}
li.AS a {background-image:url(btn04.jpg);}
li.HC a {background-image:url(btn05.jpg);}
